@import url("./variables.css");

body {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr 5%;

  font-family: var(--font), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

/* Side bar + Nav bar*/
.side-bar {
  display: flex;
  flex-direction: column;
  padding: var(--side-bar-padding);
  padding-top: calc(var(--side-bar-padding) * 2);
  background-color: var(--side-bar-color);
  gap: 40px;
  color: var(--nav-bar-text-color);
}

.brand-name {
  display: flex;
  align-items: center;
  font-size: 4em;
  height: 70px;
  color: var(--brand-name-color);
}

.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.common-use-container {
  display: flex;
  flex-direction: column;
}

.common-use-item,
.category-item {
  color: var(--nav-bar-text-color);
  padding: var(--nav-bar-text-padding);
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
}

.common-use-item:hover,
.category-item:hover {
  background-color: var(--hover-color);
}

.categories-wrapper {
  display: flex;
  flex-direction: column;
}

.categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-title {
  font-size: 1.3em;
  font-weight: 600;
  padding: var(--nav-bar-text-padding);
  padding-left: calc(-1 * var(--nav-bar-text-padding));

  color: var(--category-title-color);
}

.add-category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(0.5 * var(--nav-bar-text-padding));
  cursor: pointer;
  transition: var(--transition-time);
  border-radius: 5px;
  position: relative;
}

.add-category-container:hover {
  background-color: var(--darker-hover-color);
}

.add-category-container .add-category-icon {
  background-image: url("./images/plus-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1em;
  width: 1em;
}

.add-category-dropdown {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--nav-bar-text-padding);
  padding: var(--side-bar-padding);
  border-radius: 5px;
  /* height: 7rem; */
  width: 15em;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.12);

  background-color: var(--main-content-color);
}

.new-category-label {
  font-size: 0.8em;
  color: black;
}

.new-category-text {
  flex: 1;
  font-family: var(--font), Arial, Helvetica, sans-serif;
  font-size: 1em;
  border: 2px solid black;
  outline: none;
  border-radius: 2px;
  background-color: #dedede;
  padding: 0.5em 0.5em;
}
.new-category-text:focus {
  background-color: var(--main-content-color);
}

.add-new-category {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font), Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  border-bottom: 3px solid #1c5b4a;
  border-radius: 2px;
  height: 1.8em;
  color: var(--main-content-color);
  background-color: var(--main-content-primary);
  transition: var(--transition-time);
}
.add-new-category:hover {
  border-color: black;
}

.add-category-container .error-message {
  color: var(--delete-color);
  font-size: 0.8rem;
}
/**/

/* Footer */
.footer {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.9em;
  background-color: var(--footer-color);
  color: var(--nav-bar-text-color);
  gap: 0.19em;
  a {
    color: var(--nav-bar-text-color);
  }
}
/**/

/* Main content */
.main-content-container {
  display: flex;
  padding: var(--side-bar-padding);
  background-color: var(--main-content-color);
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 3% 10%;
}

/* Title */
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--task-card-padding);
}

.title-container .category-title {
  font-size: 2.7em;
}

.title-container .delete-category {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: var(--task-card-padding);
  font-size: 0.9em;
  border-radius: 5px;
  margin-top: var(--task-card-padding);
}

.title-container .delete-category:hover {
  background-color: #fee2e2;
  color: #d6352a;
  .icon-container {
    /*same color as the above color, for delete icon svg*/
    filter: invert(32%) sepia(75%) saturate(1355%) hue-rotate(335deg)
      brightness(89%) contrast(111%);
  }
}

.title-container .delete-category .icon-container {
  background-image: url(./images/delete-icon.svg);
  background-size: contain;
  height: 1em;
  width: 1em;

  /*same color as color of delete category tex*/
  filter: invert(46%) sepia(26%) saturate(7458%) hue-rotate(336deg)
    brightness(92%) contrast(108%);
}

.title-container .delete-category .delete-text {
  color: var(--delete-color);
}
/**/

/* Add task */
.add-task-container {
  display: flex;
  align-items: center;
  align-self: start;
  gap: 3px;
  padding: calc(0.5 * var(--task-card-padding)) var(--task-card-padding);
  cursor: pointer;
}

.add-task-icon {
  background-image: url("./images/plus-circle-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1em;
  width: 1em;
}

.add-task-text {
  color: var(--grey-500);
  font-weight: 500;
}

.add-task-container:hover {
  .add-task-text {
    color: var(--main-content-primary);
  }
  .add-task-icon {
    filter: invert(48%) sepia(81%) saturate(321%) hue-rotate(114deg) brightness(99%) contrast(91%);
  }
}
/**/

/* Tasks */
.tasks-container {
  display: flex;
  flex-direction: column;
  padding: var(--task-card-padding);
}

.task-item {
  display: flex;
  flex-direction: column;
  gap: var(--task-card-padding);
  padding: calc(var(--task-card-padding)) 0;
  padding-right: var(--task-card-padding);
  border-bottom: 2px solid var(--main-content-primary);
  /* background-color: aquamarine; */
}

.task-info {
  /* display: flex; */
  gap: calc(1.5 * var(--task-card-padding));

  display: grid;
  align-items: center;
  grid-template-columns: 2em 1fr 1em 1em 1em;
}

.task-completion {
  cursor: pointer;
}

.task-title {
  font-size: 1.2em;
  font-weight: 300;
}

.priority-circle {
  height: 0.9em;
  width: 0.9em;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  border: 2px solid black;
}

.high {
  background-color: red;
}
.medium {
  background-color: yellow;
}
.low {
  background-color: rgb(0, 255, 0);
}

.edit-task-icon-container {
  background-image: url(./images/edit-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  cursor: pointer;

  filter: invert(32%) sepia(3%) saturate(2494%) hue-rotate(176deg)
    brightness(96%) contrast(87%);
}

.edit-task-icon-container:hover {
  filter: none;
}

.delete-task-icon-container {
  background-image: url(./images/delete-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  cursor: pointer;

  filter: invert(32%) sepia(3%) saturate(2494%) hue-rotate(176deg)
    brightness(96%) contrast(87%);
}

.delete-task-icon-container:hover {
  filter: invert(46%) sepia(26%) saturate(7458%) hue-rotate(336deg)
    brightness(92%) contrast(108%);
}

.task-info-two {
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: var(--grey-600);
  padding-left: calc(4.7 * var(--task-card-padding));
}

.task-info-two .deadline {
  font-size: 0.85em;
}

.strike {
  color: var(--grey-600);
  text-decoration: line-through;
}
/**/

/* Add Task Form  */
.add-task-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-task-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: calc(2*var(--side-bar-padding));
  gap: var(--nav-bar-text-padding); 
  background-color: var(--main-content-color);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.add-task-form-header {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.add-task-form input,
.add-task-form select,
.add-task-form textarea {
  height: 2rem;
  font-family: var(--font), Arial, Helvetica, sans-serif;
  font-size: 1em;
  border: 2px solid black;
  outline: none;
  border-radius: 2px;
  background-color: #dedede;
  padding-left: 0.5em;
  margin-bottom: 0.3rem;
}
.add-task-form input:focus,
.add-task-form select:focus,
.add-task-form textarea:focus {
  background-color: var(--main-content-color);
}

.add-task-form textarea {
  height: 5rem;
  resize: none;
  padding-top: 0.5rem;
}

.add-task-form label {
  font-size: 1.1rem;
  color: black;
}

.add-task-form .submit-task {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font), Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  border-bottom: 3px solid #1c5b4a;
  border-radius: 2px;
  height: 2.5rem;
  margin-top: 0.7rem;
  color: var(--main-content-color);
  background-color: var(--main-content-primary);
  transition: var(--transition-time);
}
.add-task-form .submit-task:hover {
  border-color: black;
}
.add-task-form .submit-task:focus {
  transform: scale(0.98);
}

.add-task-form .error-message {
  color: var(--delete-color);
}

button {
  /*to override the button styles*/
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  text-align: start;
  cursor: pointer;
  /**/
}

.invisible {
  display: none;
}
